@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title" class="container py-4">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Ponte en contacto con nosotros</h3>

    <address class="mb-3">
        Av. Las Flores 123<br />
        San Borja, Lima - Perú<br />
        <abbr title="Teléfono">Tel:</abbr>
        +51 987 654 321
    </address>

    <address>
        <strong>Atención al cliente:</strong> <a href="mailto:contacto@gardenroses.pe">contacto@gardenroses.pe</a><br />
        <strong>Pedidos especiales:</strong> <a href="mailto:pedidos@gardenroses.pe">pedidos@gardenroses.pe</a>
    </address>
</main>
